# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
dist/run1339239638/web-files/javafx-loading-100x100.gif
dist/run1339239638/web-files/javafx-loading-100x100.gif
dist/run1339239638/web-files/javafx-loading-25x25.gif
dist/run1339239638/web-files/upgrade_java.png
dist/run1339239638/web-files/upgrade_javafx.png
dist/run1339239638/web-files/javafx-chrome.png
dist/run1339239638/web-files/upgrade_java.png
dist/run1287629118/web-files/upgrade_javafx.png
dist/run1287629118/web-files/upgrade_java.png
dist/run1287629118/web-files/javafx-loading-25x25.gif
dist/run1287629118/web-files/javafx-loading-100x100.gif
dist/run1287629118/web-files/javafx-chrome.png
dist/run1287629118/web-files/get_javafx.png
dist/run1287629118/web-files/get_java.png
dist/run1287629118/web-files/error.png
dist/run1287629118/web-files/dtjava.js
dist/run1287629118/MovieCollection.jnlp
dist/run1287629118/MovieCollection.html
dist/MovieCollection.jnlp
dist/MovieCollection.html
dist/MovieCollection.jnlp
dist/MovieCollection.html
dist/MovieCollection.jnlp
build/built-jar.properties
dist/run824440144/web-files/error.png
dist/run824440144/web-files/get_java.png
dist/run824440144/web-files/javafx-chrome.png
*.properties
